{% extends "school/base.html" %}
{% load static %}

{% block title %}Список учеников{% endblock %}
{% block content %}
<div class="row">
  <ol>
  {% for student in object_list %}
    <li>{{ student.name }} {{ student.group }} <br> 
      <ul>
        {% if student.teacher.all %}
          {% for teacher in student.teacher.all %}
          <li>{{ teacher.name }}: {{ teacher.subject }}</li>
          {% endfor %}
        {% else %}
          <p>Нет учителей</p>
        {% endif %}
      </ul>
    </li>
  {% endfor %}
  </ol>
</div>
{% endblock %}
